body {
  background: url('./assets/images/background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  // background-size: cover;
  // // display: flex;
  background-attachment: fixed;
  // background-attachment: scroll;
  // background-position: center;
  // overflow-y: scroll;
  // height: 100vh;
}

